#*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.gitignore

# Large Maze Files
04MazeSolver/tests/biggerMaze.dat
04MazeSolver/tests/generatedMaze.dat
04MazeSolver/tests/solvedGeneratedMaze.dat
bin/tests/biggerMaze.dat
bin/tests/generatedMaze.dat
bin/tests/solvedGeneratedMaze.dat

# Heap Dumps
*.hprof
*.index
*.zip
*.threads